*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary-color{
    color: #FD6E0A;
}


.header{
    background-color: #FFF8F3;
    background-image: url(image/header_bg.png),url(image/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right,left;
}

/*---------- navbar design------------------- */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 200px;
    padding-top: 40px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-left: 30px;
    
}
.button-nav{
    border: none;
    color: white;
    background-color: #FD6E0A;
    padding: 8px 15px;
    font-weight: 700;

}
/*------------------ bannner style part------------------ */

.banner{
    display: flex;
    align-items: center;
    margin: 0 100px;
}
.banner-subtitle{
    color: rgb(105, 104, 102);

}
.banner-title{
    font-weight: 800;
    margin-bottom: 20px;
}
.banner-text{
    color: rgb(83, 82, 82);
    margin-bottom: 30px;
}

/*---------------------- section part ------------- */
main{
    width: 1140px;
    margin: 0 auto;
}
.section-text{
    font-size: 40px;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    border-radius: 10px;
}
.about{
    background-color: antiquewhite;
    margin-top: 40px;
    padding: 100px 150px;
}
.about-text{
    text-align: center;
    font-size: 18px;
    color: #646261;
}
/*----------------- table style------- */
thead tr{
    text-align: center;
    /* background-color: #FD6E0A; */
    padding: 4px 100px;
    
}
thead tr td{
    padding: 3px 60px;
    color: #646261;
}
table{
   margin:50px auto;
}
tbody tr{
    text-align: center;  
}
tbody tr td{
    font-size: 20px;
    font-weight: 700;
}
/* --------what i do section style--------- */
.skill-container{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    margin-bottom: 70px;
    
}
.what-do-text{
    text-align: center;
    font-size: 18px;
    color: #646261;
    margin: 30px 20%; 
}
.skill-tittle{
    margin: 7px 15%;
    font-weight: 700;
    margin-bottom: 10px;
}
.skill{
    /* height: 200px; */
    padding: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.skill img{
    margin: 0 15%;
}
.skill-description{
    align-items: center;
    margin: 0 15%;
    color: #646261;
}
/* -------------my resume section-------- */
.my-resume{
    margin-bottom: 120px;
    margin-top: 80px;
}
.my-resume-container{
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-top: 120px;
}
.resume-text{
    margin: 10px 0 20px;
}
.description{
    align-items: center;
    margin: 10px 0 20px;
    color: #646261;
}
.tittle{
    margin: 20px 0 10px;
}
.card{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
    padding: 0px 0 20px;
}
.resume-button-nav{
    border: none;
    color: white;
    background-color: #FD6E0A;
    padding: 18px 45px;
    font-weight: 700;
    margin-top: 20px;
    border-radius: 5px;
    margin-left: 45%;

}
/* ---------------contact section---- */
.contact{
    background-color: #FFF8F3;
    padding-bottom: 50px;
}
.contact-container{
    padding-top: 130px;
    display: flex;
    justify-content: space-around;
}
.connect{
    width: 50%;
}
.social-icon{
    display: flex;
    margin-top: 30px;
}
.social-icon li{
    list-style: none;
    margin-left: 30px;
}
input{
    display: block;
    border: none;
    padding: 15px 60px 15px 9px;
    margin-bottom: 10px;
    font-size: 18px;
}
textarea{
    display: block;
    border: none;
    padding: 15px 30px 15px 9px;
    margin-bottom: 10px;
    font-size: 18px;
}
.con-tittle{
    margin: 0 0 28px;
}
/* -------------footer style------- */
footer{
    background-color: #646261;
    height: 200px;
}


